.Producto_Fisico{
    margin-top: 100px;
    align-items: center;
}

.Producto_Fisico_img{
    width: 200px;
}

.Producto_Fisico_Nombre_Album{
    text-align: center;
}

.Producto_Fisico_Contenedor_Opciones{
    
}
